* {
  font-family: "Noto Sans", sans-serif;
}

.header-nav-link {
  text-decoration: none;
  font-size: 20px;
}

.header-nav-link:hover {
  color: #aa0000;
}

.header-nav-link.active {
  color: #dd0000;
}
